body
{
	margin-left: 10px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #6F6F6F;
}

h1,h2,h3,h4, th
{
	text-transform: uppercase;
	margin-left: -10px;
	padding: 5px;
	font-weight: 200;
	color: #222222;
}

p, ol, ul, table { margin-left: 10px; }

table
{
	border-collapse: collapse;
	border: 1px solid #222;
	text-align: center;
}

th { border: 2px solid #222; }
td { border: 1px solid #222; }
p, ol { line-height: 180%; }
a { color: #2C3529; }
ul { list-style-type: square; }
ol { list-style-type: lower-alpha; }