body
{
	font-family: Gill, Helvetica, sans-serif font-size:14px;
	background-color: #fffff;
	margin: 0;
}

h1
{
	font: normal 24pt Helvetica;
	color: #FFFFFF;
	text-align: center;
	text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15);
}

h2
{
	color: #222;
	text-align: center;
	text-shadow: -1px -1px 0px #eef, 1px 1px 0px #ccf, 2px 2px 2px #555;
	font-weight: bold;
	font-size: 20px;
}

h3
{
	color: #222;
	text-align: center;
	text-shadow: 1px 1px 0px #fff, 0px 2px 3px #555;
	font-weight: bold;
	font-size: 18px;
}

h4
{
	color: #222;
	text-align: center;
	text-shadow: 1px 1px 0px #fff, 0px 2px 3px #555;
	font-size: 16px;
}

hr
{
	border: 0;
	height: 1px;
	background-image: -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
}

ol { list-style-type: decimal-leading-zero; }

/* -------------- Links -------------- */
@import url(http://fonts.googleapis.com/css?family=Droid+Sans:bold+Lobster);
@import url(http://fonts.googleapis.com/css?family=Lobster);

a
{
	/* text */
	font: 10px 'Droid Sans', sans-serif;
	text-decoration: none;
	font-weight: bold;
	text-shadow: rgba(255,255,255,.5) 0 1px 0;
	user-select: none;
	/* layout */
	padding: .5em .6em .4em .6em;
	margin: .5em;
	display: inline-block;
	position: relative;
	border-radius: 8px;
	/* effects */
	border-top: 1px solid rgba(255,255,255,0.8);
	border-bottom: 1px solid rgba(0,0,0,0.1);
	background-image: gradient(radial, 50% 0, 100, 50% 0, 0, from( rgba(255,255,255,0) ), to( rgba(255,255,255,0.7) )), url(noise.png);
	transition: background .2s ease-in-out;
	/* color */
	color: hsl(0, 0%, 40%) !important;
	background-color: hsl(0, 0%, 75%);
	box-shadow: inset rgba(255,254,255,0.6) 0 0.3em .3em, inset rgba(0,0,0,0.15) 0 -0.1em .3em, hsl(0, 0%, 60%) 0 .1em 3px, hsl(0, 0%, 45%) 0 .3em 1px, rgba(0,0,0,0.2) 0 .5em 5px;
}

a
{
	border-left: none;
	border-right: none;
}

table
{
	overflow: hidden;
	border: 1px solid #d3d3d3;
	background: #fefefe;
	margin-left: auto;
	margin-right: auto;
	border-radius: 5px;
	-webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}

th, td
{
	padding: 2px 4px 2px;
	text-align: center;
}

th
{
	padding-top: 4px;
	text-shadow: 1px 1px 1px #fff;
	background: #e8eaeb;
}

td
{
	border-top: 1px solid #e0e0e0;
	border-right: 1px solid #e0e0e0;
}

tr.odd-row td { background: #f6f6f6; }
td.first, th.first { text-align: left; }
td.last { border-right: none; }
td { background: -webkit-gradient(linear, 0% 0%, 0% 25%, from(#f9f9f9), to(#fefefe)); }
tr.odd-row td { background: -webkit-gradient(linear, 0% 0%, 0% 25%, from(#f1f1f1), to(#f6f6f6)); }
th { background: -webkit-gradient(linear, 0% 0%, 0% 20%, from(#ededed), to(#e8eaeb)); }

tr:first-child th.first
{
	-webkit-border-top-left-radius: 5px;
}

tr:first-child th.last
{
	-webkit-border-top-right-radius: 5px;
}

tr:last-child td.first
{
	-webkit-border-bottom-left-radius: 5px;
}

tr:last-child td.last
{
	-webkit-border-bottom-right-radius: 5px;
}