body
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
}

h1,h2,h3,h4
{
	background-color: #ddd;
	line-height: 1.2;
	border-right: 6px solid #111;
	border-left: 6px solid #111;
	padding-left: 10px;
	text-transform: uppercase;
	text-align: center;
}

ol, ul
{
	background-color: #ddd;
	margin-left: 0px;
	line-height: 1.6;
	border: none;
	border-left: 2px #555 solid;
}

ol ul, ol ol, ul ul, ul ol
{
	line-height: 1.4;
	margin-left: 20px;
	font-size: smaller;
	border-left: 1px #555 dashed;
}

ol ol ol, ol ol ul, ol ul ul,
ul ul ul, ul ul ol, ul ol ol,
ul ul ul
{
	line-height: 1.2;
	margin-left: 40px;
	font-size: smaller;
	border: none;
	border-left: 1px #555 dashed;
}

table
{
	border-right: 3px solid #666;
	border-left: 3px solid #666;
	padding-left: 10px;
	padding-right: 10px;
	text-align: center;
	background-color: #ddd;
	border-collapse: collapse;
}

th
{
	text-transform: uppercase;
	text-align: center;
	padding: 8px;
}

td
{
	text-align: center;
	border-right: 1px dashed #666;
	border-left: 1px dashed #666;
	padding: 2px;
}
