body
{
	font-family: marker Felt;
	font-size: 18px;
}

h1,h2,h3,h4
{
	font-size: 22px;
	font-variant: small-caps;
	font-weight: bolder;
	text-decoration: underline;
}
table
{
	border-collapse: collapse;
	border: 1px solid #222;
	text-align: center;
}

th {
border: 1px solid;
	font-size: 18px;
	font-variant: small-caps;
	font-weight: bolder;
}
td { border: 1px solid; }
