body
{
	font: medium Trebuchet MS;
	font-size: 14px;
	background-color: white;
}

h1
{
	font-weight: bold;
	font-size: 22px;
	border-bottom: 2px solid #666;
	border-top: 2px solid #666;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #f0f020;
}

h2
{
	font-weight: bold;
	font-size: 18px;
	padding-top: 4px;
	padding-bottom: 4px;
	border-bottom: 1px solid #555;
	border-top: 1px solid #555;
	background-color: #f0f040;
}

h3
{
	font-weight: bold;
	font-size: 16px;
	padding-top: 3px;
	padding-bottom: 3px;
	border-bottom: 1px solid #333;
	border-top: 1px solid #333;
	background-color: #f0f060;
}

h4
{
	font-weight: bold;
	font-size: 14px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-bottom: 1px solid #222;
	border-top: 1px solid #222;
	background-color: #f0f080;
}

table
{
	margin: 1em;
	border-collapse: collapse;
	width: 90%;
}

td
{
	border: 1px #ccc solid;
	padding: 5px;
}

th
{
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom: 1px solid #333;
	border-top: 1px solid #333;
	background-color: #f0f040;
}

thead { background-color: #f0f080; }
a.open { border: 1px #ccc solid; }